%header.row.top
  .grid_12
    %h1 Projects at #{current_user.domain}:
    %hr/

.row

  #recent-projects.grid_8
    %h2 Recent projects:

    - if @company_projects.empty?
      .blank_slate_container
        %span.blank_slate There aren't any projects yet.

    - else
      %ul
        - @company_projects.each do |project|
          %li[project]= render partial: 'projects/project', locals: { project: project, gallery_name: 'company-projects' }


  #your-projects.grid_4
    %h2 Your projects:

    %ul
      - @your_projects.each do |project|
        %li[project]{ class: ("archived" if project.archived?) }= render partial: 'projects/project', locals: { project: project, gallery_name: 'company-projects' }

      %li.blank_slate_container
        .blank_slate= link_to "Add a Project!", new_project_path

