.row.top
  .grid_12
    %h1 Hi!
    %h1 What are you working on?
    %hr/

.row
  .grid_8
    %p.top.intro Do you have offices around the world &mdash; and maybe even a moonbase? It's got to be difficult keeping track of what everyone is working on.
    %p= link_to "Let's fix that!", '#', class: 'btn'

  .grid_4

    %p
      %strong Automatic Screenshots
      give you a window into private applications

    %p
      %strong Pivotal Tracker
      integration let's you know how the project is being managed

    %p
      %strong Github
      integration shows you the core contributors and their progress

