.row
  .intro.grid_8
    %p.top Do you have offices around the world &mdash; and maybe even a moonbase? It's got to be difficult keeping track of what everyone is working on.
    = link_to "Let's fix that!", user_omniauth_authorize_path(:google_oauth2), class: 'btn'

  .grid_4

    %p
      %strong Pivotal Tracker
      integration let's you know how the project is being managed

    %p
      %strong Github
      integration shows you the core contributors and their progress

    %p
      Share
      %strong Login Credentials
      to checkout the latest

    %p
      Automatic
      %strong Screenshots
      give you a window into private applications
