%header.row.top
  .grid_12
    %h1
      = link_to "<", :back
      = link_to @project.title, @project

    %hr/

= render 'form', project: @project

.row
  .grid_12
    %hr
    = link_to 'Destroy!', project_path(@project), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn-form'
