/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require base
 *= require amazium
 *= require layout
 *= require jquery.fancybox
 *= require select2
 *= require_self
 *= require_tree .
 */

body > header.alerts {
  position: absolute;
  top: 1em;
  width: 100%;

  p { text-align: center; }
}

body > footer.row {
  margin-top: 20em;
  margin-bottom: 2em;

  p { padding-bottom: 0; }
}

.select2-container {
  font-size: 12px;
  width: 202px;
  margin: 0 4px 15px 10px;
}

.select2-container-multi .select2-choices {
  border: solid 1px #bbbbbb;
}

.select2-results .select2-no-results {
  display: none;
}

li.screenshot {
  img {
    max-width: 100%;
  }
}

li.project {
  h5 {
    word-break: break-all;
    margin-bottom: 0;
  }

  padding-bottom: 1em;
  padding-left: 0;
  border-bottom: 1px dashed grey;
  margin-bottom: 1em;

  &.archived {
    opacity: 0.5;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

/***** Screen 960px *****/

.top {
  margin: 0 auto;
  margin-top: 30px;
}

.base {
  margin: 0 auto;
  margin-bottom: 40px;
}

.blank_slate_container {
  clear: both;
  text-align: center;
  margin: 2em;

  .blank_slate {
    border: 1px dashed #DADADA;
    color: #AAA;
    display: inline-block;
    padding: 14px 25px;
    text-align: center;
  }
}

/***** Screen Bigger than 960px *****/
@media only screen and (min-width: 1200px) {
}

/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {
}

/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/***** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
}
