// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  h2 {
    display: inline-block;
    margin-right: 10px;
  }

}


form.new_project,
form.edit_project {

  .collaborators,
  .screenshots {
    margin-bottom: 2em;
  }

  .collaborator,
  .screenshot {
    padding-bottom: 1em;
    border-bottom: 1px dashed grey;
    margin-bottom: 1em;
  }

}
